

html, body {
    margin: 0;
    padding: 0;
}

/* HTML: <div class="loader"></div> */
.loader {
    display: none;
}

.loader.loading{
    display: block;
    width: 40px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#c3a465 90%,#bb781400);
    background: 
        var(--_g) 0%   50%,
        var(--_g) 50%  50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

body {
    min-height: 100dvh; /* usa dvh (melhor que vh para mobile moderno) */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: radial-gradient(circle at top left,#0d1247,#191d27 50%);
    font-family: 'Roboto Slab', serif;
    color: #fff;
    padding: 40px 20px;
}

.upPage{
    height: 7vh;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: center;
    padding-left: 10%;  
    padding-top: 5vh;
    gap: 10px;
}

/* Container principal */
.thank-wrapper {
    width: 100%;
    max-width: 650px;
}

.badge-premium{
    display:inline-block;
    padding:6px 18px;
    border-radius:30px;
    background:rgba(200,169,106,0.15);
    border:1px solid rgba(200,169,106,0.4);
    color:#c8a96a;
    font-size:14px;
    margin-bottom:20px;
    letter-spacing:.5px;
}

.highlight{
    color:#c8a96a;
    font-weight:600;
}

.big-title{
    font-size:30px;
    font-weight:600;
    margin-bottom:20px;
}

.text-main{
    font-size:16px;
    opacity:.85;
    margin-bottom:30px;
    line-height:1.6;
}

.cta-modelo{
    margin-top:30px;
    padding:25px;
    border-radius:15px;
    border:1px solid rgba(255,255,255,0.1);
    background:rgba(255,255,255,0.05);
    box-shadow:0 15px 35px rgb(32,33,58);
}

.btn-gold{
    background:linear-gradient(135deg,#c8a96a,#9f7f3f);
    border:none;
    padding:14px 30px;
    border-radius:40px;
    font-weight:600;
    color:#111;
    transition:.3s;
    margin-top:20px;
}

.btn-gold:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 25px rgba(200,169,106,.4);
}
